.buttons{
            display: grid;
            align-items: start;
            justify-content: center; 
            /* row-gap:10px;
            column-gap: 50px;
            flex-wrap: wrap; */
            grid-template-columns: repeat(4,1fr);
            padding: 10px;
            margin: 10px;

             
            
        }
         button:hover{
          color: crimson;
          background-color:blue;
         }


        button{
           
                 gap: 5px;
            border-radius: 10px;
            display: grid;
            
            width: 50px;
            height: 50px;
            padding: 10px;
            margin: 3px;
            background-color: chocolate;
            
        }
        .outerbox{
            border:5px solid red;
            background-color: aquamarine;
            width: 60%;
            margin: 5px;
            padding: 5px;
        }
       .display {
    width: 100%;
    height: 50px;
    background-color:yellow;
    color: #fff;
    font-size: 2em;
    text-align: right;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    color: blue;
}
h1{
    text-align: center;
    background-color: darkred;
    color: yellow;
    padding: 20px;
    width: 58%;
    margin: 5px;
    font-size: 50px;

}
body{
    background-color:green;
}